.reveal {
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .shadowed {
    -webkit-box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
  }

  pre {
    box-shadow: none;
  }
  code {
    padding: 20px !important;
    max-height: 1500px !important;
  }

  code span.fragment.fade-out.visible {
    display: none;
  }

  section {
    img {
      border: none;
      background: none;
      box-shadow: none;
      margin: 0;
    }
  }

  img.small-logo {
    width: 50px;
    padding-right: 5px;
    margin: 0;
    vertical-align: middle;
  }

  .block {
    display: inline-block;
    vertical-align: middle;
  }

  img.block {
    margin-right: -5px;
  }

  img.center-logo {
    width: 500px;
  }

  img.heart {
    width: 100px;
    padding: 50px 10px;
  }

  span.rus {
   font-size: 0.88em;
  }

  span.name {
    font-weight: bold;
  }

  span.title {
    color: #4488dd;
    font-style: italic;
    font-weight: 100;
  }
   img.bier {
     display: inline-block;
     width: 250px;
   }
}